<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @driver_application.first_name %>, </p>

    <p> Thank you for applying to use a Zephyr car! </p>

    <p> We will review your application. You'll receive an email shortly if you're approved. </p>

    <p>
      Zephyr Support
      <br />
      650-396-9642
    </p>
  </body>
</html>
