<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @driver_application.first_name %>, </p>

    <p> Thanks again for applying to use Zephyr! We took a look at your application and want to move you forward in the process. </p>

    <p> 1. <a href="https://docs.google.com/a/zephyrcar.com/presentation/d/1ewkHioDyWLCepQKetiv89wcnxt0E9NL6na8doi0bcIU/edit#slide=id.g17bb1211d_062"> Review Slides </a> </p>

    <p> 2. <a href="http://www.proprofs.com/quiz-school/story.php?title=NTk3MDg0"> Score 100% on Our Quiz </a> </p>

    <p> 3. <a href="https://www.facebook.com/ZephyrCar"> Like us on Facebook </a> </p>

    <p> 4. <a href="https://zephyrsupport.youcanbook.me/"> Schedule a phone screen </a> </p>

    <p> 5. Begin Ridesharing Applications
      <ul>
        <li> <a href="https://partners.uber.com/#!/partners/new"> Apply to Uber </a> and fill out "contact info" and "documents" tabs to initiate the background check </li>
        <li> <a href="http://get.lyft.com/drive"> Apply to Lyft </a> (smartphone app required) and select 2013 Toyota Prius; get all the way to the test drive step </li>
      </ul>
    </p>

    <p> If everything goes smoothly, you should expect to be on the road in 7-10 days. Feel free to email or call if you have any questions. </p>

    <p>
      Best,
      <br />
      Zephyr Support
      <br />
      650-396-9642
    </p>
  </body>
</html>

