<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @car_listing.first_name %>, </p>

    <p> Thank you for applying to list your car on Boost! </p>

    <p> We will review your application and reach out to you shortly. </p>

    <p>
      Boost Support
      <br />
      650-396-9642
    </p>
  </body>
</html>
