<div class="container-fluid" id="submit-confirm">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <center>
        <%= link_to image_tag("success.png"), '/' %>
          <h1>Car listing submitted</h1>
          <p>Thanks for listing your car! A Zephyr car specialist will reach out if there is a match.</p>
          <p><a href="/">Back to the main page</a></p>
          </center>
      </div>
  </div>

  </div>
</div>
