<div class="container">
  <center>
    <h1>Driving Schedule</h1>
  </center>
</div>
<div class="container" role="main">
  <div class="row">
    <% idx = 0 %>
    <% @car_slots.each do |car_slot| %>
      <div class="col-md-6 col-md-offset-3">
        <div id="slot_idx_<%= idx %>">
          <% if car_slot.locked? %>
            <%= render 'car_slots/locked_slot', :car_slot => car_slot %>
          <% else %>
            <%= render 'car_slots/toggleable_slot', :car_slot => car_slot, :idx => idx %>
          <% end %>
          <% idx += 1 %>
        </div>
      </div>    
    <% end %>
  </div>
</div>