<table>
  <tr><td>Day changed:</td><td><%= @updated_car_slot.start_time.to_date.to_formatted_s(:long) %></td></tr>
  <tr><td>New status:</td><td><%= @updated_car_slot.status %></td></tr>
  <tr><td>New fee:</td><td><%= @updated_car_slot.fee_label %></td></tr>
</table> 
