@import "bootstrap";

/* LESS */
	$grid-columns:              12;
	$grid-gutter-width:         30px;
	$grid-float-breakpoint:     768px;
/* END LESS (get it?)*/

/* Colors CSS */
	.theme1{
		color: #1B325F;
	}
	.theme2{
		color: #9CC4E4;
	}
	.theme3{
		color: #E9F2F9;
	}
	.theme4{
		color: #3A89C9;
	}
	.theme5{
		color: #F26C4F;
	}
	.flatgreen{
		color: #27ae60;
	}
	.flatred{
		color: #e74c3c;
	}
	.flatorange{
		color: #f39c12;
	}
	.flatblue{
		color: #2980b9;
	}
	.darkgray{
		color: #555;
	}
	.lightgray{
		color: #999;
	}
	.white-bkg{
		background-color: #fff;
	}
	.lgray-bkg{
		background-color: #eee;
	}
/* End Colors CSS */

/* Base CSS */
	body{
		background-color: #FAFBFC;
		font-family: 'Open Sans', 'Arial';
		color: #333;
		font-size: 14;
	}
	.navbar {
	    margin-bottom: 0 !important;
	}
	.navbar-nav{
		padding-top: 18px;
		padding-bottom: 2px;
		text-align: right;
		float: right;
	}
	.navbar-header{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.navbar.navbar-default{
		padding-top: 10px;
		background-color: #222;
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0.8)),color-stop(1,rgba(0,0,0,.95)));
		background: -webkit-linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,.95) 100%);
		background: -moz-linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,.95) 100%);
		background: -o-linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,.95) 100%);
		background: -ms-linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,.95) 100%);
		background: linear-gradient(top,rgba(0,0,0,0.8) 0,rgba(0,0,0,.95) 100%);
	}
	nav.navbar.navbar-default{
		border-bottom: 1px solid #222;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-radius: 0px;
	}
	#nav-dropdown li .btn{
		text-align: left;
		padding: 10px 10px;
		border-top: 1px solid #e5e5e5;
		font-size: 16px;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	.navbar-toggle{
		margin-left: auto;
		margin-right: auto;
		float: none !important;
	}
	#arrow-up{
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #e5e5e5;
		position: absolute;
		right: 20px;
		top: -10px;
	}
	#nav-dropdown{
		padding: 0px;
		width: 150px;
		border-radius: 4px !important;
		margin-top: 2px;
	}
	#signed-in-dropdown, .open a#signed-in-dropdown{
		background-color: rgba(0,0,0,0);
	}
	#header-signin{
	    color: #999;
	    font-weight: 700;
	    font-size: 16px;
	    padding-top: 14px;
	    padding-bottom: 14px;
	    display: inline-block;
	}
	#header-signin:hover, #signed-in-dropdown:hover{
	    color: #aaa;
	    cursor: pointer;
	}
	#header-list-car{
		color: #777;
		font-weight: 700;
		font-size: 16px;
	}
	#header-list-car:hover{
		color: #999;
	}
	#header-list-car{
		padding-left: 0px;
	}
	#header-CTA{
		font-weight: 900;
		font-size: 16px;
		color: rgba(29, 147, 221, .9);
	}
	#header-CTA:hover{
		color: rgba(29, 147, 221, 1);
	}
	.dropdown-menu{
		border: 1px solid #e2e2e2;
		border-radius: 5px;
	}
	.dropdown-menu.signed-out{
		padding: 10px;
		width: 250px;
	}
	.dropdown-menu.signed-in{
		padding: 10px 0 10px 0;
		width: 160px;
	}
	.dropdown-menu.signed-in input{
		border-radius: 0;
		border-width: 0;
	}
	a.dropdown-toggle{
		color:#555;
	}
	a.dropdown-toggle:hover{
		color: #444;
	}
	.navbar-right{
		padding: 16px 0px 0px 0px;
	}
	.navbar-right a{
		font-weight: bold;
	}

	.tagline{
		color: #999;
		margin: -10px 0px 5px 0px;
	}

	.mainpage{
		padding-right: 50px;
		padding-left: 50px;
	}
	#mainrow{
		margin-right: 0px;
		margin-left: 0px;
	}
	html, body {
	  height: 100%;
	}
	#wrap {
	  min-height: 100%;
	}
	#main {
	  overflow:auto;
	  padding-bottom:150px; /* this needs to be bigger than footer height*/
	}
	.footer {
  	background-color: #272727;
		min-height: 200px;
		position: relative;
		width:100%;
		color: #FAFBFC;
		padding: 20px 0px;
		margin-top:0px;
		font-size: 16px;
	}
	#footer{
		color: #eee;
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	#footerLeft{
		text-align: left;
		padding-left: 20px;
	}
	#footerRight{
		text-align: right;
		padding-right: 20px;
	}
	#toolbar{
		border-radius: 0px;
		border: 1px solid #111;
		background-color: #333;
		color: #aaa;
	}
	.tool-icon-row{
		text-align: center;
	}
	.tool-icon{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.tool-icon .glyphicon{
		font-size: 24px;
	}
	.tool-icon:hover{
		background-color: #292929;
		color: #eee;
	}
	.tool-icon-selected{
		background-color: #222;
		color: #eee;
	}
	.tool-link{
		color: #aaa;
	}

	label.error{
	    color:#DA6565;
	}
	@media (max-width: 991px){
	}
/* End Base CSS */

/* Home CSS */
	.mask-container{
		position: relative;
	}
	#opacity-mask{
		opacity: 0;
	    background-color: black;
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 100%;
	}
	#landing-hero {
		padding: 120px 20px;
	}
	#landing-image{
		background-image: image-url('bkg-girl-smiling.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px -50px;
		min-height: 560px;
		max-width: 2000px;
		border-bottom: 1px solid #e5e5e5;
	}
	.hero-type{
		color: #fff;
		font-family: 'Varela';
		display: inline-block;
		font-weight: 700;
		font-size: 50px;
		line-height: 56px;
		text-shadow: rgba(0,0,0,0.95) 1px 1px 7px;
	}
	.hero-type h3{
		font-weight: 200;
		line-height: 28px;
		text-shadow: rgba(0,0,0,1) 1px 1px 5px;
		color: #ededed;
	}
	a.button-default {
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0.3)),color-stop(1,rgba(0,0,0,0.5)));
		background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: -moz-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: -o-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: -ms-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.3);
		box-shadow: 0 1px 7px rgba(0,0,0,0.3);
		-webkit-font-smoothing: subpixel-antialiased;
		padding: 0px;
	}
	a.button-default span{
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5db6e8),color-stop(0.85,#168eda),color-stop(0.9,#168eda),color-stop(1,#1d93dd));
		background: -webkit-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: -moz-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: -o-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: -ms-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		padding: 20px 40px;
		border-radius: 6px;
		display: block;
		color: #fff;
		font-size: 28px;
	}

	#featured-in{
		min-height: 80px;
		background-color: #f8f9f8;
		padding: 1px 20px;
	}
	#featured-in-row img{
		max-width: 90%;
		max-height: 34px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#img-sfgate{
		opacity: 0.7;
	}
	#sidecar{
		height: 30px;
	}
	#as-featured-in{
		color: #c1c2c3;
		font-weight: 600;
		font-size: 16px;
		padding-top: 10px;
		text-align: center;
	}
	.quote{
		font-size: 16px;
		font-style: italic;
		color: #333;
	}
	#how-it-works{
		min-height: 80px;
		background-color: #f8f9f8;
		border-top: 1px solid #e5e5e5;
		padding-bottom: 40px;
		color: #555;
		font-size: 16px;
		text-align: center;
	}
	#how-it-works h1{
		margin: 50px 0px 40px 0px;
		color: rgba(50, 50, 50, 1);
		font-family: 'Varela';
		background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(50, 50, 50, 1)),
		to(rgba(50, 50, 50, .8))
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#how-it-works h3{
		margin: 30px 0px 30px 0px;
		color: #333;
		font-family: 'Varela';
	}
	#how-it-works a{
		font-weight: bold;
		cursor: pointer;
		color: #1d93dd;
	}
	#how-it-works a:hover{
		text-decoration: none;
		color: #1776B1;
	}
	#how-it-works .marketing-row{
		margin-bottom: 20px;
	}
	#how-it-works .marketing-block{
		padding: 0px 40px;
	}
	#how-it-works .marketing-icon{
		font-size: 50px;
		padding: 20px 0px;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: 2px solid rgba(22, 160, 133, 0.7);
		color: rgba(22, 160, 133, 0.7);
	}
	#how-it-works .marketing-icon-num{
		font-size: 20px;
		font-weight: bold;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		border: 2px solid rgba(22, 160, 133, 1);
		position: absolute;
		top: -5px;
		right: 0px;
		background-color: #FAFBFC;
		color: rgba(22, 160, 133, 1);
	}
	#how-it-works p{
		padding-top: 20px;
		font-size: 20px;
		font-weight: 700;
		color: rgba(22, 160, 133, 1);
	}
	#how-it-works .marketing{
		padding-left: 30px;
		padding-right: 20px;
	}
	#drive-for{
		padding-top: 0px;
	}
	#prius{
		padding-top: 0px;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		display: block;
		position: relative;
	}
	#drive-for-logos img{
		max-width: 90%;
		max-height: 50px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#key-features{
		min-height: 80px;
		background-color: #fff;
		border-top: 1px solid #e5e5e5;
		padding: 30px 0px 50px 0px;
	}
	#key-features h2{
		color: #14679B;
		font-family: 'Varela';
		line-height: 56px;
		font-size: 36px;
		background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(20, 103, 155, 1)),
		to(rgba(20, 103, 155, .7))
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-bottom: 0px;
	}
	#key-features .col-md-4{
		padding-left: 15px;
		padding-right: 30px;
		padding-top: 60px;
	}
	#key-features h1{
		margin: 20px 0px 0px 0px;
		color: #333;
		font-family: 'Varela';
		background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(50, 50, 50, 1)),
		to(rgba(50, 50, 50, .7))
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#key-features h4{
		color: #14679B;
		font-weight: bold;
		font-size: 20px;
		background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(20, 103, 155, .9)),
		to(rgba(20, 103, 155, .9))
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	#key-features p{
		font-size: 16px;
		color: #555;
	}

	#apply-today{
		min-height: 80px;
		background-color: #fff;
		border-top: 1px solid #d5d5d5;
		padding: 50px 0px 30px 0px;
	}
	#apply-today h2{
		text-align: center;
		line-height: 50px;
		font-size: 24px;
		font-weight: 400;
	}
	#apply-today .button-default, #apply-today .button-default span{
		height: 80px;
		font-size: 30px;
	}
	#apply-today h5{
		color: #777;
		font-weight: 300;
		font-size: 16px;
	}
	.banner-sessions{
		background-color: #777;
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-owners{
		background-color: rgba(22, 160, 133,0.8);
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-drivers{
		background-color: rgba(29, 147, 221,0.8);
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-drivers{
		background-color: rgba(29, 147, 221,0.8);
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-drivers h1, #list-top-owners h1, .banner-sessions h1{
		padding-bottom: 10px;
	}
	#list-top-drivers h5, #list-top-owners h5, .banner-sessions h5{
		font-size: 16px;
		font-weight: 300;
		color: #FAFBFC
	}
	.divider-inside-top-bottom {
	  position:relative;
	  overflow:hidden;
	}
	.divider-inside-top-bottom:before {
	  content: "";
	  position:absolute;
	  z-index: 1;
	  width:96%;
	  top: -10px;
	  height: 10px;
	  left: 2%;
	  border-radius: 100px / 5px;
	  box-shadow:0 0 9px rgba(0,0,0,0.8);
	}
	.divider-inside-top-bottom:after {
	  content: "";
	  position:absolute;
	  z-index: 1;
	  width:96%;
	  bottom: -10px;
	  height: 5px;
	  left: 2%;
	  border-radius: 100px / 5px;
	  box-shadow:0 0 6px rgba(0,0,0,0.8);
	}
	.divider-inside-top {
	  position:relative;
	  overflow:hidden;
	  border-top:1px solid #ddd;
	}
	.divider-inside-top:before {
	  content: "";
	  position:absolute;
	  z-index: 1;
	  width:96%;
	  top: -10px;
	  height: 10px;
	  left: 2%;
	  border-radius: 100px / 5px;
	  box-shadow:0 0 18px rgba(0,0,0,0.6);
	}
	@media (max-width: 1440px){
		#landing-image{
			background-size: 1440px;
		}
	}
	@media (max-width: 991px){
		#landing-image{
			background-position: 0px 0px
		}
		#key-features{
			text-align: center;
			padding: 30px 40px 20px 40px;
		}
		#hero-type{
			text-shadow: rgba(0,0,0,0.75) 1px 1px 1px;
		}
		.navbar-header{
			margin-right: auto;
			margin-left: auto;
		}
		#key-features .col-md-4{
			padding-left: 0px;
			padding-right: 0px;
		}
		#how-it-works .marketing-block{
			margin-bottom: 40px;
		}
		#how-it-works{
			padding-bottom: 0px;
		}
		#drive-for{
			display: none;
		}
		.key-feature-box{
			margin-bottom: 40px;
		}
		.navbar-collapse{
			padding-left: 0px;
			padding-right: 0px;
		}
		#logo{
			display: block;
			margin: auto;
		}
		#footerRight{
			text-align: center;
		}
		#footerLeft{
			text-align: center;
		}
		#apply-today{
			background-color: rgba(93,182,232, 0.3);
		}
		a.button-default, a.button-default span{
			width: 100%;
		}
	}
/* End Home CSS */

/* Submitted CSS */

	#submit-confirm{
		min-height: 600px;
		background-color: #FFF;
		padding: 50px 0px;
	}
	#submit-confirm h1{
		color: #333;
		padding-bottom: 20px;
	}
	#submit-confirm p{
		font-size: 16px;
		line-height: 24px;
	}
	#submit-confirm img{
		height: 200px;
		width: 200px;
		opacity: 0.8;
	}

/* End Submitted CSS */

/* Driver Application */


 	#drivers-form{
		padding: 20px;
	}
	#owners-form{
		padding: 20px;
	}
	.sessions-form{
		padding: 20px;
	}
	.application-file{
		padding-top: 10px;
	}

	.form-row{
		margin-bottom: 10px;
		min-height: 40px;
	}

	.form-row input.form-control{
		height: 40px;
	}

	.form-submit{
		margin: 30px 0px;
	}

	.form-submit .btn{
		width: 100%;
		border-radius: 2px;
	}

	.form-row label.control-label{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #14679B;
		padding-bottom: 2px;
	}
	.form-alt-link {
		text-align: center
	}
	.referral-row input{
		margin: 4px 0px;
	}
	.popover-title{
		font-size: 16px;
		font-weight: bold;
	}
	.ephemeral{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		opacity: 0.8;
		font-size: 16px;
		font-weight: 600;
		background-color: #fff;
		border: none;
		height: 60px;
		text-align: center;
	}
/* End Driver Application */

/* Car Slots */
	
	.segment-top{
		border: 1px solid #ccc;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #fff;
		color: #333;
		padding: 10px 0px;
	}
	.top-fluid{
		padding: 20px 0px;
		border-top: 1px solid #FAFBFC;
	}
	.segment-bottom{
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: #fff;
		padding: 40px 0px;
		min-height: 500px;
	}
	#dow-header .col-md-1{
		font-size: 20px;
		font-weight: 300;
		color: #75ACD9;
		text-align: center;
		margin: 2px;
		font-family: 'Alegreya Sans', Arial;
	}
	#thisweek .col-md-2{
		font-weight: 600;
	}
	#thisweek .col-md-1, #nextweek .col-md-1{
		border: 1px #aaa solid;
		border-radius: 2px;
		text-align: center;
		padding: 20px;
		height: 120px;
		font-size: 20px;
		font-weight: bold;
		margin: 2px;
		color: #555;
	}
	#thisweek .col-md-1 p, #nextweek .col-md-1 p{
		font-weight: 300;
		padding-top: 10px;

	}
	#thisweek .col-md-2, #nextweek .col-md-2{
		padding: 40px 20px 20px 20px;
		font-size: 20px;
		color: #555;
	}
	#thisweek, #nextweek, #dow-header{
		margin: 20px 0px;
	}
	
	
	#thisweek .col-md-1.partner p, #nextweek .col-md-1.partner p{
		font-size: 12px;
	}
	.car-slot {
		margin: 10px 0px;
		width: 100%;
		height: 50px;
		border-radius: 2px;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
		font-size: 18px;
	}
	.car-slot-toggleable {
		width: 100%;
		height: 100%;
		background: transparent;
	}
	.car-slot-locked {
		opacity: 0.5;
	}
	#thisweek .col-md-1.status-reserved, #nextweek .col-md-1.status-reserved {
		border: 1px solid #27ae60;
		background-color: #D4EFDF;
		color: #27ae60;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	}
	#thisweek .col-md-1.status-reserved:hover, #nextweek .col-md-1.status-reserved:hover{
		border: 1px solid #208D4D;
		color: #208D4D;
		cursor: pointer;
	}
	#thisweek .col-md-1.locked, #nextweek .col-md-1.locked, #thisweek .col-md-1.locked:hover, #nextweek .col-md-1.locked:hover{
		background-color: #eee;
		border: 1px solid #ccc;
		color: #999;
		cursor: default;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	}
	#thisweek .col-md-1.status-cancelled, #nextweek .col-md-1.status-cancelled {
		border: 1px solid #e74c3c;
		background-color: #FADBD8;
		color: #e74c3c;
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	}
	#thisweek .col-md-1.status-cancelled:hover, #nextweek .col-md-1.status-cancelled:hover{
		border: 1px solid #B93D30;
		color: #B93D30;
		cursor: pointer;
	}
	.car-slot-status-unassigned {
		background-color: #727c7a;
	}
/* End Car Slots */

/* User Profile CSS */
	.profile-pic{
		border-radius: 50%;
		height: 140px;
		width: 140px;
		border: 4px solid #555;
		padding: 5px;
		opacity: 0.8;
	}
	.no-partner{
		opacity: 0.5;
	}
	.driver-info{
		margin-bottom: 20px;
		color: #555;
	}
	.driver-info img{
		margin-top: 20px;
	}
/* End User Profile CSS */

/* Sticky Note CSS */
	#notes li {
	    position: relative;
	    width: 100%;
	    min-height: 300px;
	    margin: 25px auto;
	    padding: 40px 20px 15px 20px;
	    background: #FCF0AD;
	    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
	    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.5);
	    box-shadow: 0 1px 2px #000;
	    -webkit-transform: rotate(-.5deg);
	    -moz-transform: rotate(-.5deg);
	    -o-transform: rotate(-.5deg);
	}

	#notes li:nth-child(even) {
	    -webkit-transform: rotate(.5deg);
	    -moz-transform: rotate(.5deg);
	    -o-transform: rotate(.5deg);
	}

	#notes li p {
	    text-align: center;
	    font: normal normal normal 34px/40px 'Reenie Beanie', Helvetica, Arial, sans-serif;
	    color: #000;
	    text-shadow: white 1px 1px 0px;
	    overflow:hidden;
	}

	#notes li::before {
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 115px;
	    top: -15px;
	    width: 75px;
	    height: 25px;
	    z-index: 2;
	    background-color: rgba(243,245,228,0.5);
	    border: 2px solid rgba(255,255,255,0.5);
	    -webkit-box-shadow: 0 0 5px #888;
	    -moz-box-shadow: 0 0 5px #888;
	    box-shadow: 2px 2px 2px #000;
	    -webkit-transform: rotate(-6deg);
	    -moz-transform: rotate(-6deg);
	    -o-transform: rotate(-6deg);
	}

	#notes li:nth-child(even)::before {
	    -webkit-transform: rotate(6deg);
	    -moz-transform: rotate(6deg);
	    -o-transform: rotate(6deg);
	}
	@media (max-width: 991px){
		#notes{
			padding: 10px 30px;
		}
		.driver-info{
			padding: 0px 30px;
		}
	}
/* End Sticky Note CSS */
