<div class="container-fluid">
  <div class="container">
    <center>
      <h1>You have successfully submitted your application! Our team will review your application and contact you shortly</h1>
    </center>

  </div>
</div>
