<div class="container-fluid" id="submit-confirm">
  <div class="container">

    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		<center>
    		<%= link_to image_tag("success.png"), '/' %>
      		<h1>Zephyr driver application submitted</h1>
      		<p>Thank you for your interest in becoming a Zephyr member. We will let you know as soon as possible about the outcome of your application.</p>
          <p><a href="/">Back to the main page</a></p>
      		</center>
    	</div>
	</div>

  </div>
</div>
