<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to("Driving schedule", schedule_path) %>
    </li>
    <li>
      <a href="#" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span>
        <b class="caret"></b>
      </a>
      
      <ul class="dropdown-menu signed-in pull-right" role="menu">
        <li>
          <%= button_to "Sign out", destroy_user_session_path, method: "delete", class: "btn btn-default btn-block" %>
        </li>
      </ul>
    </li>
  </ul>
</div>